<section class="gallery_block">
    <div class="breadcrumbs_block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                        <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="http://udm-okna.ru/" itemprop="url">
                                <span itemprop="title">Главная</span>
                            </a></span>
                    <span class="breadcrumbs_sep">›
                        </span>
                    <span class="breadcrumbs_current">Примеры работ</span>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="gallery_heading ">Примеры работ</h2>
            </div>
        </div>
    </div>
    <div class="gallery_list">
        <div class="container">
            <div class="row">

                <ul id="lightgallery" class="lightgallery">
                    <li class=" gallery_item" data-responsive="img/trexstvorchatoe_2.jpg 375, img/trexstvorchatoe_2.jpg 480, img/trexstvorchatoe_2.jpg 800" data-src="img/trexstvorchatoe_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="">
                            <img class="img-responsive" src="img/trexstvorchatoe_2.jpg">
                        </a>
                    </li>
                    <li class=" gallery_item" data-responsive="img/trexstvorchatoe_2.jpg 375, img/trexstvorchatoe_2.jpg 480, img/trexstvorchatoe_2.jpg 800" data-src="img/trexstvorchatoe_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="">
                            <img class="img-responsive" src="img/trexstvorchatoe_2.jpg">
                        </a>
                    </li>
                    <li class="gallery_item" data-responsive="img/trexstvorchatoe_2.jpg 375, img/trexstvorchatoe_2.jpg 480, img/trexstvorchatoe_2.jpg 800" data-src="img/trexstvorchatoe_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="">
                            <img class="img-responsive" src="img/trexstvorchatoe_2.jpg">
                        </a>
                    </li>
                    <li class=" gallery_item" data-responsive="img/trexstvorchatoe_2.jpg 375, img/trexstvorchatoe_2.jpg 480, img/trexstvorchatoe_2.jpg 800" data-src="img/trexstvorchatoe_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="">
                            <img class="img-responsive" src="img/trexstvorchatoe_2.jpg">
                        </a>
                    </li>
                    <li class=" gallery_item" data-responsive="img/trexstvorchatoe_2.jpg 375, img/trexstvorchatoe_2.jpg 480, img/trexstvorchatoe_2.jpg 800" data-src="img/trexstvorchatoe_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="">
                            <img class="img-responsive" src="img/trexstvorchatoe_2.jpg">
                        </a>
                    </li>
                    <li class=" gallery_item" data-responsive="img/trexstvorchatoe_2.jpg 375, img/trexstvorchatoe_2.jpg 480, img/trexstvorchatoe_2.jpg 800" data-src="img/trexstvorchatoe_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="">
                            <img class="img-responsive" src="img/trexstvorchatoe_2.jpg">
                        </a>
                    </li>
                    <li class=" gallery_item" data-responsive="img/trexstvorchatoe_2.jpg 375, img/trexstvorchatoe_2.jpg 480, img/trexstvorchatoe_2.jpg 800" data-src="img/trexstvorchatoe_2.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
                        <a href="">
                            <img class="img-responsive" src="img/trexstvorchatoe_2.jpg">
                        </a>
                    </li>

                </ul>


            </div>
        </div>

    </div>

</section>