<section class="testimonials_block">
    <div class="breadcrumbs_block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                        <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="http://udm-okna.ru/" itemprop="url">
                                <span itemprop="title">Главная</span>
                            </a></span>
                    <span class="breadcrumbs_sep">›
                        </span>
                    <span class="breadcrumbs_current">Отзывы</span>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="testimonials_heading ">Отзывы</h2>
            </div>
        </div>
    </div>
    <div class="testimonials_list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div>
                            <div class="testimonials_wrap">
                                <div class="testimonials_item">

                                    <div class="testimonials_info"><span class="testimonials_user_name">Лужбин А.А.</span> <span class="testimonials_date">Отзыв от 18.10.2017</span></div>

                                    <div class="testimonials_rating">Оценка нашей работы: <div class="testimonials_stars"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_passive.png"></div></div>

                                    <div class="testimonials_spoiler_block">
                                        <a class="testimonials_spoiler_title"><span>Читать отзыв</span> <img src="img/spoiler_1.png"></a>
                                        <div class="testimonials_spoiler_wrap">
                                            <span class="">Отзыв:</span><br>
                                            Спасибо за окна!! Все сделано очень качественно и профессионально! Всем рекомендую.
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials_item">

                                    <div class="testimonials_info"><span class="testimonials_user_name">Лужбин А.А.</span> <span class="testimonials_date">Отзыв от 18.10.2017</span></div>

                                    <div class="testimonials_rating">Оценка нашей работы: <div class="testimonials_stars"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_passive.png"></div></div>

                                    <div class="testimonials_spoiler_block">
                                        <a class="testimonials_spoiler_title"><span>Читать отзыв</span> <img src="img/spoiler_1.png"></a>
                                        <div class="testimonials_spoiler_wrap">
                                            <span class="">Отзыв:</span><br>
                                            Спасибо за окна!! Все сделано очень качественно и профессионально! Всем рекомендую.
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials_item">

                                    <div class="testimonials_info"><span class="testimonials_user_name">Лужбин А.А.</span> <span class="testimonials_date">Отзыв от 18.10.2017</span></div>

                                    <div class="testimonials_rating">Оценка нашей работы: <div class="testimonials_stars"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_passive.png"></div></div>

                                    <div class="testimonials_spoiler_block">
                                        <a class="testimonials_spoiler_title"><span>Читать отзыв</span> <img src="img/spoiler_1.png"></a>
                                        <div class="testimonials_spoiler_wrap">
                                            <span class="">Отзыв:</span><br>
                                            Спасибо за окна!! Все сделано очень качественно и профессионально! Всем рекомендую.
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials_item">

                                    <div class="testimonials_info"><span class="testimonials_user_name">Лужбин А.А.</span> <span class="testimonials_date">Отзыв от 18.10.2017</span></div>

                                    <div class="testimonials_rating">Оценка нашей работы: <div class="testimonials_stars"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_active.png"><img src="img/star_passive.png"></div></div>

                                    <div class="testimonials_spoiler_block">
                                        <a class="testimonials_spoiler_title"><span>Читать отзыв</span> <img src="img/spoiler_1.png"></a>
                                        <div class="testimonials_spoiler_wrap">
                                            <span class="">Отзыв:</span><br>
                                            Спасибо за окна!! Все сделано очень качественно и профессионально! Всем рекомендую.
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="testimonials_more_add_block">
                                <div class="testimonials_counter_block">
                                    <span class="testimonials_counter">Показано 4 из 60 отзывов</span>
                                    <a class="testimonials_more_link">Показать еще 4 отзыва</a>
                                </div>
                                <a href="#" class="testimonials_add_link" data-toggle="modal" data-target="#testimonials_add_modal">Добавить отзыв</a>
                            </div>





                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="testimonials_add_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div id="fb_form" class="testimonials_add_block">
                <span class="testimonials_add_modal_close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                <form class="testimonials_add_form" id="testimonials_add_form" action="/feed_send.php" method="post">
                    <input type="hidden" name="form_type" value="Отзыв">
                    <input type="hidden" name="rating" id="rating" value="0">
                    <h3 class="testimonials_add_heading">Добавьте ваш отзыв</h3>

                    <div id="contact_output_feed" class="testimonials_add_fields" >


                        <div>
                            <label class="testimonials_add_label" for="customer_name">Фамилия и инициалы:</label><br>
                            <input class="testimonials_add_input" id="customer_name" type="text" value="" name="customer_name" >
                        </div>

                        <div>
                            <label class="testimonials_add_label" for="customer_comment">Ваш отзыв:</label><br>
                            <textarea class="testimonials_add_textarea" id="customer_comment" type="text" value="" name="customer_comment"></textarea>
                        </div>

                        <div class="testimonials_add_rating">
                            Ваша оценка качества:<br>
                            <img src="img/star_passive.png" id="star_1" class="stars" alt="1" title="1">
                            <img src="img/star_passive.png" id="star_2" class="stars" alt="2" title="2">
                            <img src="img/star_passive.png" id="star_3" class="stars" alt="3" title="3">
                            <img src="img/star_passive.png" id="star_4" class="stars" alt="4" title="4">
                            <img src="img/star_passive.png" id="star_5" class="stars" alt="5" title="5">
                        </div>

                        <p class="testimonials_add_privacy">Оставляя свои персональные данные, Вы соглашаетесь с
                            <a class="testimonials_add_privacy_link" href="http://udm-okna.ru/politika-konfidentsialnosti/">Политикой конфиденциальности.</a>
                        </p>

                            <input type="submit" id="feed_submit" class="testimonials_add_submit" value="Отправить">

                    </div>

                </form>
            </div></div>

    </div>
</section>

