<section class="countdown_block">
    <div class="countdown_block__container">
        <div class="countdown_block__clock-block">
            <div class="countdown_block__timer"></div>
            <div class="countdown_block__dates">
                <div class="countdown_block__num ">Days</div>
                <div class="countdown_block__num ">Hours</div>
                <div class="countdown_block__num ">Minutes</div>
                <div class="countdown_block__num ">Seconds</div>
            </div>
        </div>
        <div class="countdown_block__img"></div>
    </div>

    <div class="countdown_block__corner"></div>

</section>
<section class="welcome_block">
    <div class="welcome_block__container">
        <h3 class="welcome_block__heading">Welcome!</h3>
        <p class="welcome_block__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur minima odit pariatur quo soluta voluptates! Ad architecto, consequuntur deleniti doloremque dolorum eos iste, iure quod, reiciendis repellendus soluta suscipit.
        </p>
        <p class="welcome_block__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur minima odit pariatur quo soluta voluptates! Ad architecto, consequuntur deleniti doloremque dolorum eos iste, iure quod, reiciendis repellendus soluta suscipit.
        </p>
        <p class="welcome_block__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur minima odit pariatur quo soluta voluptates! Ad architecto, consequuntur deleniti doloremque dolorum eos iste, iure quod, reiciendis repellendus soluta suscipit.
        </p>
        <form action="" class="welcome_block__signup-form">
            <h4 class="welcome_block__form-heading">Sign up for out event</h4>
            <input type="text" class="welcome_block__form-input" placeholder="Enter your name">
            <input type="email" class="welcome_block__form-input" placeholder="Enter your email">
            <input type="text" class="welcome_block__form-input" placeholder="Phone number">
            <input type="text" class="welcome_block__form-input" placeholder="Envato Username">
            <input type="submit" class="welcome_block__form-submit-btn" value="Let me in!">
            <span class="welcom_block__form-notify">Hurry up. Limited seats availble <br> *we will never spam your email</span>
        </form>
    </div>
</section>
<section class="details">
    <div class="details__container">
        <ul class="details__list">
            <li class="details__item"><img src="..//img/detail_1.jpg" alt="" class="details__pic">
                <h4 class="details__heading">Community</h4>
                <p class="details__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur atque consequatur doloribus error fugiat maiores quidem sint vitae voluptatem!</p>
            </li>
            <li class="details__item"><img src="..//img/detail_2.jpg" alt="" class="details__pic">
                <h4 class="details__heading">Talk Shop</h4>
                <p class="details__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut deserunt facilis harum in nemo neque non nulla perferendis placeat vel?</p>
            </li>
            <li class="details__item"><img src="..//img/detail_3.jpg" alt="" class="details__pic">
                <h4 class="details__heading">War Stories</h4>
                <p class="details__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi deleniti dignissimos fuga molestias, officiis quam quas quis ratione vitae.</p>
            </li>
        </ul>
    </div>
</section>
<section class="schedule">
    <div class="schedule__container">
        <table class="schedule__table">
            <thead>
                <tr>
                    <td>Time</td>
                    <td>Stuff that will happen</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>10am - 12am</td>
                    <td>Introduction and presentations about Envato</td>
                    <td><span class="schedule__more-btn"></span></td>
                </tr>
                <tr>
                    <td>12am - 02am</td>
                    <td>Sessions by honorable guests and Speakers</td>
                    <td><span class="schedule__more-btn"></span></td>
                </tr>
                <tr>
                    <td>02am - 03am</td>
                    <td>Break and Mingle time with the authors</td>
                    <td><span class="schedule__more-btn"></span></td>
                </tr>
                <tr>
                    <td>03am - 05am</td>
                    <td>Portfolio Review, Rewards and Ending Presentation</td>
                    <td><span class="schedule__more-btn"></span></td>
                </tr>
            </tbody>

        </table>
        <span class="schedule__notify">Please keep in mind that the timings may differ according to the flow of the event. The even is actually day long and we do plan to finish it within our set time but it doesn’t have to be, if we all agree to hangour for some time more, what harm could it do? :)</span>
    </div>
</section>
<section class="elite_block">
    <div class="elite_block__top-corner"></div>
    <div class="elite_block__container">
        <img src="..//img/elite_logo.png" alt="" class="elite_block__logo">
        <h3 class="elite_block__heading">We reward the Elites!</h3>
        <p class="elite_block__paragraph">Are you an Elite author in the Envato Marketplaces? If so we are proud of you! We want to give our thanks in achieving great success in the marketplace and we want to make known to the people of our country that you are amazing! Our Elite gifting program includes giving you special merchandize from our community and also promote your works in our community.
        </p>
        <p class="elite_block__paragraph">All you have to do is contact us by clicking the button here and then its just going to the event, saying something motivational and taking that swag while looking amazing infront of thousands of other community members.</p>
        <p class="elite_block__paragraph">*Be advised, we will only give you Elite thank you swag for each level of elite you cross.
            <br>That means if you do not cross to the next elite level before the next event, you cannot claim your prizes.</p>
        </p>
        <button class="elite_block__swag-btn">Bring on the swag!</button>
    </div>
    <div class="elite_block__bottom-corner"></div>
</section>
<section class="speakers_block">
    <div class="speakers_block__container">
        <h3 class="speakers_block__heading">Speakers</h3>
        <p class="speakers_block__paragraph">Meet our Valuable speakers who will be each giving 10 minutes sessions on different subjects regarding being a digital product author, working at envato and marketing your business.Hope you will have a great time listening to our presentations!</p>
        <ul class="speakers_block__list">
            <li class="speakers_block__item"></li>
            <li class="speakers_block__item">
                <h4 class="speakers_block__speaker_name">Shahriyer Shuvo</h4>
                <span class="speakers_block__speaker_description">More about selling in the Envato Marketplaces</span>
                <div class="speakers_block__speaker_contact">
                    <a href="#" class="speakers_block__speaker_contact_link speakers_block__speaker_contact_link_facebook"></a>
                    <a href="#" class="speakers_block__speaker_contact_link speakers_block__speaker_contact_link_twitter"></a>
                    <a href="#" class="speakers_block__speaker_contact_link speakers_block__speaker_contact_link_twitter_be"></a>
                    <a href="#" class="speakers_block__speaker_contact_link speakers_block__speaker_contact_link_twitter_dr"></a>
                </div>
            </li>
            <li class="speakers_block__item"></li>
            <li class="speakers_block__item"></li>
            <li class="speakers_block__item"></li>
            <li class="speakers_block__item"></li>
            <li class="speakers_block__item"></li>
            <li class="speakers_block__item"></li>
            <li class="speakers_block__item"></li>
        </ul>
    </div>
</section>