
<footer class="footer">
    <div class="container">
        <div class="footer_menu_block">
            <div class="footer_menu_list">
                <h4>Продукция</h4>
                <ul>
                    <li><a href="/plastikovye-okna/">Пластиковые окна</a></li>
                    <li><a href="/plastikovye-dveri/">Пластиковые двери</a></li>
                    <li><a href="/alyuminievye-konstruktsii/">Алюминивые конструкции</a></li>
                    <li><a href="/category/acses/">Аксессуары для окон</a></li>
                </ul>
            </div>
            <div class="footer_menu_list">
                <h4>Услуги</h4>
                <ul>
                    <li><a href="/osteklenie-zagorodnyh-domov-i-kottedzhej/">Остекление загородных<br> домов и коттеджей</a></li>
                    <li><a href="/osteklenie-balkonov-i-lodzhij/">Остекление балконов<br> и лоджий</a></li>
                    <li><a href="/otdelka-balkonov-i-lodzhij/">Отделка балконов и лоджий</a></li>
                    <li><a href="/ustanovka-plastikovyh-okon/">Установка пластиковых окон</a></li>
                    <li><a href="/remont-plastikovyh-okon/">Ремонт пластиковых окон</a></li>
                    <li><a href="/regulirovka-okon/">Регулировка окон</a></li>
                    <li><a href="/tsvetnaya-laminatsiya-okon/">Цветная ламинация окон</a></li>
                    <li><a href="/bronirovanie-okon/">Бронирование окон</a></li>
                    <li><a href="/tonirovanie-okon/">Тонирование окон</a></li>
                </ul>
            </div>
            <div class="footer_menu_list">
                <h4>Покупателям</h4>
                <ul>
                    <li><a href="/category/actions/">Акции и скидки</a></li>
                    <li><a href="/category/tips/">Полезные советы</a></li>
                    <li><a href="/otzyvy/">Отзывы</a></li>
                    <li><a href="/primery-rabot/">Примеры работ</a></li>
                    <li><a href="/variants/">Варианты оплаты</a></li>
                </ul>
            </div>
            <div class="footer_menu_list">
                <h4>Компания</h4>
                <ul>
                    <li><a href="/o-zavode/">О компании</a></li>
                    <li><a href="/glavnaya/kontakty/">Контакты</a></li>
                    <li><a href="/glavnaya/politika-konfidentsialnosti/">Политика конфиденциальности</a></li>

                </ul>
            </div>
            <div class="footer_contact_block">
                <span class="footer_contact_phone">+7(342) 279-01-59</span>
                <span class="footer_contact_schedule">пн-пт: 09:00-18:00<br>сб: 09:00-15:00</span>
                <p class="footer_contact_req_call"><i class="fa fa-phone" aria-hidden="true"></i><a href="#" id="call_modal" data-toggle="modal" data-target="#modal_phone">Заказать звонок</a></p>
                <p class="footer_contact_send_mail"><i class="fa fa-paper-plane" aria-hidden="true"></i><a href="mailto:info@favorit.ru" class="top-menu-a call-message">Написать нам</a></p>

            </div>

        </div>
        <div id="modal_phone" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="call_modal">
                    <h2 class="call_modal_heading">Заказать звонок</h2>
                    <span class="call_modal_close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    <div role="form" class="wpcf7" id="wpcf7-f494-o3" lang="ru-RU" dir="ltr">
                        <div class="call_modal_response"></div>
                        <form action="#" method="post" class="call_modal_form">

                            <p><label for="name_call" class="call_modal_label">*Имя:</label><br>
                                <input type="text" name="name" value="" size="40" class="call_modal_input" id="name_call" placeholder="Ваше имя..."><br>
                                <label for="phone_call" class="call_modal_label">*Телефон:</label>
                                <br>
                                <input type="text" name="text-200" value="" class="call_modal_input" id="phone_call" size="40" placeholder="+7 (____)"></p>
                            <div class="call_modal_footer">
                                <p class="call_modal_privacy" >Оставляя свои персональные данные,<br>
                                    Вы соглашаетесь с <a href="http://udm-okna.ru/politika-konfidentsialnosti/">Политикой конфиденциальности.</a>
                                </p>
                                <p>
                                    <input type="submit" value="Отправить" class="call_modal_submit">
                                </p>
                            </div>


                        </form>
                    </div>

                </div>

            </div>
        </div>
        <div id="modal_call_meter" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="call_modal">
                    <h2 class="call_modal_heading">Вызвать замерщика</h2>
                    <span class="call_modal_close" data-dismiss="modal"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                    <div role="form" class="wpcf7" lang="ru-RU" dir="ltr">
                        <div class="call_modal_response"></div>
                        <form action="#" method="post" class="call_modal_form">

                            <p><label for="name_call" class="call_modal_label">*Имя:</label><br>
                                <input type="text" name="name" value="" size="40" class="call_modal_input" id="name_call" placeholder="Ваше имя..."><br>
                                <label for="phone_call" class="call_modal_label">*Телефон:</label>
                                <br>
                                <input type="text" name="text-200" value="" class="call_modal_input" id="phone_call" size="40" placeholder="+7 (____)"></p>
                            <div class="call_modal_footer">
                                <p class="call_modal_privacy" >Оставляя свои персональные данные,<br>
                                    Вы соглашаетесь с <a href="http://udm-okna.ru/politika-konfidentsialnosti/">Политикой конфиденциальности.</a>
                                </p>
                                <p>
                                    <input type="submit" value="Отправить" class="call_modal_submit">
                                </p>
                            </div>


                        </form>
                    </div>

                </div>

            </div>
        </div>


    </div>
    <div class="footer_bottom_block">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p>© 2017г. Realhouse - ОКНА. Все права защищены.</p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p><a href="#" class="top-menu-a">Разработка сайта - Sponom Person</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
