
<footer class="footer">
    <div class="container">
        <div class="footer_menu_block">
            <div class="footer_menu_list">
                <h4>Продукция</h4>
                <ul>
                    <li><a href="/plastikovye-okna/">Пластиковые окна</a></li>
                    <li><a href="/plastikovye-dveri/">Пластиковые двери</a></li>
                    <li><a href="/alyuminievye-konstruktsii/">Алюминивые конструкции</a></li>
                    <li><a href="/category/acses/">Аксессуары для окон</a></li>
                </ul>
            </div>
            <div class="footer_menu_list">
                <h4>Услуги</h4>
                <ul>
                    <li><a href="/osteklenie-zagorodnyh-domov-i-kottedzhej/">Остекление загородных<br> домов и коттеджей</a></li>
                    <li><a href="/osteklenie-balkonov-i-lodzhij/">Остекление балконов<br> и лоджий</a></li>
                    <li><a href="/otdelka-balkonov-i-lodzhij/">Отделка балконов и лоджий</a></li>
                    <li><a href="/ustanovka-plastikovyh-okon/">Установка пластиковых окон</a></li>
                    <li><a href="/remont-plastikovyh-okon/">Ремонт пластиковых окон</a></li>
                    <li><a href="/regulirovka-okon/">Регулировка окон</a></li>
                    <li><a href="/tsvetnaya-laminatsiya-okon/">Цветная ламинация окон</a></li>
                    <li><a href="/bronirovanie-okon/">Бронирование окон</a></li>
                    <li><a href="/tonirovanie-okon/">Тонирование окон</a></li>
                </ul>
            </div>
            <div class="footer_menu_list">
                <h4>Покупателям</h4>
                <ul>
                    <li><a href="/category/actions/">Акции и скидки</a></li>
                    <li><a href="/category/tips/">Полезные советы</a></li>
                    <li><a href="/otzyvy/">Отзывы</a></li>
                    <li><a href="/glavnaya/offices/">Офисы продаж</a></li>
                    <li><a href="/primery-rabot/">Примеры работ</a></li>
                    <li><a href="/variants/">Варианты оплаты</a></li>
                </ul>
            </div>
            <div class="footer_menu_list">
                <h4>Компания</h4>
                <ul>
                    <li><a href="/o-zavode/">О заводе</a></li>
                    <li><a href="/glavnaya/dileram-i-stroitelyam/">Дилерам и строителям</a></li>
                    <li><a href="/glavnaya/kontakty/">Контакты</a></li>
                    <li><a href="/glavnaya/vacantion/">Вакансии</a></li>
                    <li><a href="/glavnaya/otdel-kontrolya-kachestva/">Отдел контроля качества</a></li>
                    <li><a href="/glavnaya/politika-konfidentsialnosti/">Политика конфиденциальности</a></li>

                </ul>
            </div>
            <div class="footer_contact_block">
                <span class="footer_contact_phone">+7 (34147) 5-30-88</span>
                <span class="footer_contact_schedule">пн-пт: 09:00-18:00<br>сб: 09:00-15:00</span>
                <p class="footer_contact_req_call"><i class="fa fa-phone" aria-hidden="true"></i><a href="#">Заказать звонок</a></p>
                <p class="footer_contact_send_mail"><i class="fa fa-paper-plane" aria-hidden="true"></i><a href="mailto:info@favorit.ru" class="top-menu-a call-message">Написать нам</a></p>

            </div>

        </div>
        <div id="modal_phone" class="bg-gradient-orange" style="display: none; top: 45%; opacity: 0;">
            <h2>Заказать звонок</h2>
            <span id="modal_phone_close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
            <div role="form" class="wpcf7" id="wpcf7-f494-o3" lang="ru-RU" dir="ltr">
                <div class="screen-reader-response"></div>
                <form action="/#wpcf7-f494-o3" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="494">
                        <input type="hidden" name="_wpcf7_version" value="4.5">
                        <input type="hidden" name="_wpcf7_locale" value="ru_RU">
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f494-o3">
                        <input type="hidden" name="_wpnonce" value="e4944116c7">
                    </div>
                    <p><label for="name_call">*Город:</label><br>
                        <span class="wpcf7-form-control-wrap text-520"><input type="text" name="text-520" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required modal_phone_input" id="name_call" aria-required="true" aria-invalid="false"></span><br>
                        <label for="phone_call">*Телефон:</label><br>
                        <span class="wpcf7-form-control-wrap text-200"><input type="text" name="text-200" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required modal_phone_input" id="phone_call" aria-required="true" aria-invalid="false" placeholder="+7 (____)"></span></p>
                    <p class="privacy-policy privacy-policy_fll">Оставляя свои персональные данные,<br>
                        Вы соглашаетесь с <a href="http://udm-okna.ru/politika-konfidentsialnosti/">Политикой конфиденциальности.</a></p>
                    <p><input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit modal_phone_submit"><img class="ajax-loader" src="http://udm-okna.ru/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Отправка..." style="visibility: hidden;"></p>
                    <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>            </div>
        <div id="modal_message" class="bg-gradient-orange" style="opacity: 0; top: 45%; display: none;">
            <h2>Напишите нам:</h2>
            <span id="modal_phone_close"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
            <div role="form" class="wpcf7" id="wpcf7-f553-o4" lang="ru-RU" dir="ltr">
                <div class="screen-reader-response"></div>
                <form action="/#wpcf7-f553-o4" method="post" class="wpcf7-form" novalidate="novalidate">
                    <div style="display: none;">
                        <input type="hidden" name="_wpcf7" value="553">
                        <input type="hidden" name="_wpcf7_version" value="4.5">
                        <input type="hidden" name="_wpcf7_locale" value="ru_RU">
                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f553-o4">
                        <input type="hidden" name="_wpnonce" value="129f067176">
                    </div>
                    <p><label for="write_name">*Город:</label><br>
                        <span class="wpcf7-form-control-wrap text-9650"><input type="text" name="text-9650" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required write_text" id="write_name" aria-required="true" aria-invalid="false" placeholder="Ваш город..."></span><br>
                        <label for="write_mail">*E-mail:</label><br>
                        <span class="wpcf7-form-control-wrap email-9732"><input type="email" name="email-9732" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email write_text" id="write_mail" aria-required="true" aria-invalid="false"></span><br>
                        <label for="write_textarea">*Сообщение:</label><br>
                        <span class="wpcf7-form-control-wrap textarea-9482"><textarea name="textarea-9482" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required write_textarea" id="write_textarea" aria-required="true" aria-invalid="false" placeholder="Текст..."></textarea></span><br>
                        <input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader" src="http://udm-okna.ru/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Отправка..." style="visibility: hidden;"></p>
                    <div class="col-xs-12">
                        <p class="privacy-policy privacy-policy_tal">Оставляя свои персональные данные, Вы соглашаетесь с <a href="http://udm-okna.ru/politika-konfidentsialnosti/">Политикой конфиденциальности.</a></p>
                    </div>
                    <div class="wpcf7-response-output wpcf7-display-none"></div></form></div>            </div>
        <div id="overlay" style="display: none;"></div>
    </div>
    <div class="footer_bottom_block">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p>© 2017г. Realhouse - ОКНА. Все права защищены.</p>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <p><a href="#" class="top-menu-a">Разработка сайта - Sponom Person</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
