<header class="header">
    <div id="send_ok" class="req_ok">
        <div class="wrap_accepted">
            <h3 class="head_accepted">Заявка отправлена!</h3>
            <p class="p_accepted">Мы свяжемся с вами в ближайшее время!</p>
            <div class="close_accepted"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
        </div>
    </div>
    <div id="message_ok" class="msg_ok">
        <div class="wrap_accepted">
            <h3 class="head_accepted">Ваше сообщение отправлено!</h3>
            <p class="p_accepted">Мы свяжемся с вами в ближайшее время!</p>
            <div class="close_accepted"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
        </div>
    </div>

    <!-- Site Overlay -->
    <div class="site-overlay"></div>

    <div class="container header_top">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-5">
                <a href="/" class="logo"></a>
            </div>
            <div class="col-lg-6 col-md-5 hidden-sm hidden-xs">
                <div class="top_btn_block">
                    <a href="#" class="top_btn top_btn-calc">оконный калькулятор
                        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="-298 387 15 20" style="enable-background:new -298 387 15 20;" xml:space="preserve">

<g transform="translate(0,-1036.3622)">


	<path class="st0" d="M-298,1423.4v0.8v19.2h15v-20H-298z M-296.3,1425h11.6v3.3h-11.6V1425z M-296.3,1430.1h11.6v11.7h-11.6V1430.1
		z M-294.7,1431.7v1.7h1.7v-1.7H-294.7z M-291.4,1431.7v1.7h1.7v-1.7H-291.4z M-288,1431.7v1.7h1.7v-1.7H-288z M-294.7,1435v1.7h1.7
		v-1.7H-294.7z M-291.4,1435v1.7h1.7v-1.7H-291.4z M-288,1435v1.7h1.7v-1.7H-288z M-294.7,1438.4v1.7h1.7v-1.7H-294.7z
		 M-291.4,1438.4v1.7h1.7v-1.7H-291.4z M-288,1438.4v1.7h1.7v-1.7H-288z"/>
</g>
</svg>
                    </a>
                    <a href="#" class="top_btn top_btn-call" data-toggle="modal" data-target="#modal_call_meter">вызвать замерщика
                        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="-293 387 23.2 20" style="enable-background:new -293 387 23.2 20;" xml:space="preserve">

<g>


	<path class="st0" d="M-270.6,402.3h-4.2v-0.9h1.1c0.3,0,0.7-0.2,0.8-0.6l0.6-1.9c0.1-0.2,0.1-0.4,0-0.5l-0.6-1.9
		c-0.1-0.4-0.4-0.6-0.8-0.6h-1.1c-0.1-4.8-4-8.8-8.9-8.9h-0.2c-2.4,0-4.7,1-6.4,2.7c-1.7,1.7-2.6,4-2.6,6.5v4.9c0,2.2,1.8,4,4,4
		h13.3c0.5,0,0.8-0.4,0.8-0.8v-0.4h0.2h3.2v1.9v0.4c0,0.5,0.4,0.8,0.8,0.8c0.5,0,0.8-0.4,0.8-0.8v-3.1
		C-269.9,402.6-270.3,402.3-270.6,402.3z M-289,403.6c-1.3,0-2.3-1.1-2.3-2.4v-4.9c0-4.2,3.3-7.5,7.4-7.5h0.2c4,0.1,7.2,3.4,7.2,7.4
		v7.4L-289,403.6L-289,403.6z M-275,399.7v-2.1h0.5l0.4,1.1l-0.4,1.1h-0.5V399.7z"/>


	<path class="st1" d="M-284,391.1c-2.8,0-5.1,2.3-5.1,5.1c0,2.8,2.3,5.1,5.1,5.1c2.8,0,5.1-2.3,5.1-5.1
		C-279,393.4-281.1,391.1-284,391.1z M-284,399.9c-2.1,0-3.8-1.7-3.8-3.8s1.7-3.8,3.8-3.8s3.8,1.7,3.8,3.8S-281.9,399.9-284,399.9z"
		/>
</g>
</svg>

                    </a>

                </div>


            </div>
            <div class="hidden-lg hidden-md col-sm-3 col-xs-7">
                <div class="top_btn_block-mobile">
                    <a href="#" class="top_btn_mobile top_btn-calc">
                        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="-298 387 15 20" style="enable-background:new -298 387 15 20;" xml:space="preserve">

<g transform="translate(0,-1036.3622)">


	<path class="st0" d="M-298,1423.4v0.8v19.2h15v-20H-298z M-296.3,1425h11.6v3.3h-11.6V1425z M-296.3,1430.1h11.6v11.7h-11.6V1430.1
		z M-294.7,1431.7v1.7h1.7v-1.7H-294.7z M-291.4,1431.7v1.7h1.7v-1.7H-291.4z M-288,1431.7v1.7h1.7v-1.7H-288z M-294.7,1435v1.7h1.7
		v-1.7H-294.7z M-291.4,1435v1.7h1.7v-1.7H-291.4z M-288,1435v1.7h1.7v-1.7H-288z M-294.7,1438.4v1.7h1.7v-1.7H-294.7z
		 M-291.4,1438.4v1.7h1.7v-1.7H-291.4z M-288,1438.4v1.7h1.7v-1.7H-288z"/>
</g>
</svg>
                    </a>
                    <a href="#" class="top_btn_mobile top_btn-call">
                        <svg version="1.1" id="Слой_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="-298 389 15 15" style="enable-background:new -298 389 15 15;" xml:space="preserve">
                            <path class="st0" d="M-295,395.5c1.2,2.3,3.2,4.3,5.5,5.5l1.8-1.8c0.2-0.2,0.6-0.3,0.9-0.2c0.9,0.3,2,0.5,3,0.5
                            c0.5,0,0.8,0.4,0.8,0.8v2.9c0,0.5-0.4,0.8-0.8,0.8c-7.8,0-14.2-6.4-14.2-14.2c0-0.5,0.4-0.8,0.8-0.8h2.9c0.5,0,0.8,0.4,0.8,0.8
                            	c0,1.1,0.2,2,0.5,3c0.1,0.3,0,0.6-0.2,0.9L-295,395.5z"/>
</svg>
                    </a>

                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 hidden-xs">
                <div class="top_contact_block">
                    <i class="fa fa-phone top_phone_icon" aria-hidden="true"></i>
                    <a href="#" class="top_req_call" data-toggle="modal" data-target="#modal_phone">Заказать звонок</a>
                    <p class="top_phone">+7(342) 279-01-59</p>
                    <p><span>пн-пт: 09:00-18:00, сб: 09:00-15:00</span></p>
                </div>
            </div>


        </div>
    </div>

    <!--________________________________________________________________Главное меню____________________________________________________________-->
    <div class="top_main_menu_block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="top_main_menu_wrap">
                        <div class="top_main_menu_toggle" tabindex="0">
                            <span class="top_main_menu_toggle-name">Меню</span>
                            <i class="fa fa-caret-down top_main_menu_toggle-arrow" aria-hidden="true"></i>
                            <i class="fa fa-caret-up top_main_menu_toggle-close" aria-hidden="true"></i>
                        </div>
                        <ul class="top_main_menu_list">
                            <li class="top_main_menu-item parent"><a class="top_main_menu-link" href="/products.html" tabindex="0">Продукция <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="top_main_menu-sub_menu">
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/plastikovye-okna/">Пластиковые окна</a></li>
                                    <li class="top_main_menu-sub_item"><a class="top_main_menu-sub_link" href="http://udm-okna.ru/plastikovye-dveri/">Пластиковые двери</a></li>
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/alyuminievye-konstruktsii/">Алюминиевые конструкции</a></li>
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/category/acses/">Аксессуары для окон</a></li>
                                </ul>
                            </li>
                            <li class="top_main_menu-item parent"><a class="top_main_menu-link" href="/services.html" tabindex="0">Услуги <i class="fa fa-caret-down" aria-hidden="true"></i></a>
                                <ul class="top_main_menu-sub_menu">
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/osteklenie-zagorodnyh-domov-i-kottedzhej/">Остекление загородных домов и коттеджей</a></li>
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/osteklenie-balkonov-i-lodzhij/">Остекление балконов и лоджий</a></li>
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/otdelka-balkonov-i-lodzhij/">Отделка балконов и лоджий</a></li>
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/ustanovka-plastikovyh-okon/">Установка пластиковых окон</a></li>
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/remont-plastikovyh-okon/">Ремонт пластиковых окон</a></li>
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/regulirovka-okon/">Регулировка окон</a></li>
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/tsvetnaya-laminatsiya-okon/">Цветная ламинация окон</a></li>
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/bronirovanie-okon/">Бронирование окон</a></li>
                                    <li class="top_main_menu-sub_item" ><a class="top_main_menu-sub_link" href="http://udm-okna.ru/tonirovanie-okon/">Тонирование окон</a></li>
                                </ul>
                            </li>
                            <li class="top_main_menu-item" ><a class="top_main_menu-link" href="/actions.html" tabindex="0">Акции</a></li>
                            <li class="top_main_menu-item" ><a class="top_main_menu-link" href="/payment.html" tabindex="0">Оплата</a></li>
                            <li class="top_main_menu-item" ><a class="top_main_menu-link" href="/gallery.html" tabindex="0">Наши работы</a></li>
                            <li class="top_main_menu-item" ><a class="top_main_menu-link" href="/testimonials.html" tabindex="0">Отзывы</a></li>
                            <li class="top_main_menu-item" ><a class="top_main_menu-link" href="/contacts.html" tabindex="0">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--________________________________________________________________END____________________________________________________________-->


</header>

