.page-aside
  width: 202px

.page-aside__short-about
.page-aside__subscribe-block
  display: flex
  flex-flow column nowrap
  width: 100%
  margin-bottom: 90px

.page-aside__heading
  position: relative
  width: 100%
  margin: 0
  padding-bottom: 20px
  margin-bottom: 40px
  font-weight: 400
  font-size: 16px
  line-height: 1.4
  text-transform: uppercase
  &:after
    content ''
    position: absolute
    left 0
    bottom 0
    display: block
    width: 28px
    height: 5px
    background-color: textColor

.page-aside__short-link
  font-size: 13px
  line-height: 1.4
  color textColor

.page-aside__subscribe-form
  display: flex
  flex-flow column nowrap
  width: 100%

.page-aside__subscribe-input
  padding: 8px
  margin-bottom: 10px
  font-size: 14px
  color placholderColor
  outline none
  border 1px solid textColor

.page-aside__subscribe-submit
  padding: 9px 24px
  color backgroundColor
  font-size: 13px
  line-height: 1.4
  background-color: textColor
  border none

.page-aside__last-list
  width: 100%
  display: flex
  flex-flow column nowrap
  padding: 0
  margin: 0
  list-style none

.page-aside__last-item
  display: flex
  flex-flow row nowrap
  justify-content space-between
  margin-bottom:22px

.page-aside__last-left
  width: 70px

.page-aside__last-right
  width: 118px

.page-aside__last-link
  display: block
  width: 100%

.page-aside__last-img
  display: block
  max-width 100%

.page-aside__last-link_type_text
  color textColor
  font-size: 14px
  line-height: 1.4
  text-decoration: none
  &:hover
    text-decoration: underline


.page-aside__last-date
  font-size: 10px
  line-height: 1
