mainFont = 'Roboto Slab', serif;
secondFont = 'Roboto', sans-serif;
textColor1 = #000;
mainColor = #4a454b;
secondColor = #82b541;
tableColor = #4b4d4f;
backgroundColor = #fff;
borderColor = #68d323;
lightBorderColor = #e3e3e3


*
  box-sizing border-box
body
  font-family: mainFont
