mainFont = 'Ubuntu', sans-serif;
secondFont = 'Roboto', sans-serif;
textColor = #000;
mainColor = #4caf50;
hoverColor = #51ba55;
secondColor = #82b541;
linkColor = #7a7a7a;
backgroundColor = #fff;
borderColor = #68d323;
lightBorderColor = #e3e3e3


*
  box-sizing border-box
body
  font-family: mainFont
