.footer
  width: 100%
  height: 90px

.footer__container
  width: 980px
  margin: 0 auto
  height: 100%

.footer__copyrights-block
  display: flex
  justify-content center
  align-items center
  height: 100%

.footer__copyrights
  font-size: 13px
  color placholderColor
  text-align: center