.countdown_block
  position: relative
  width: 100%
  height 660px
  overflow hidden

.countdown_block__container
  position: relative
  display: flex
  flex-flow row wrap
  justify-content space-between
  padding: 0 100px
  padding-top: 115px
  margin: 0 auto
  width 1170px
  min-width 320px
  height: 100%




.countdown_block__clock-block
  width: 100%
  padding: 23px 70px
  border 2px solid borderColor
  border-radius 18px
  max-height 220px

.countdown_block__timer
  font-weight: 100
  font-size: 127px
  color: backgroundColor
  width: 100%
  text-align: left

.countdown_block__dates
  width: 100%
  display: flex
  flex-flow: row nowrap
  justify-content: space-between

.countdown_block__num
  width: 25%
  font-size: 25px
  text-align: left
  text-transform: uppercase
  color: backgroundColor
  &:first-child
    margin-left: 40px
  &:nth-child(2)
    margin-left: 50px
  &:nth-child(3)
    margin-left: 40px
  &:last-child
    margin-left: 40px


.countdown_block__corner
  width: 200%
  height 100%
  position: absolute
  left: 0
  top 100%
  transform-origin: left center;
  transform rotate(-5deg)
  background-color: backgroundColor
  z-index 3

.countdown_block__img
  z-index: 2
  position: absolute
  background-image: url("..//img/faces_img.png")
  -webkit-background-size: 100%
  background-size: 100%
  background-repeat: no-repeat
  left: 80px
  bottom: -69px
  width: 600px
  height 250px
  transform scale(1.2)

.welcome_block
  width: 100%
  background-color: backgroundColor


.welcome_block__container
  position: relative
  display: flex
  flex-flow column nowrap
  justify-content space-between
  padding: 0 70px
  padding-top: 50px
  padding-bottom: 70px
  margin: 0 auto
  width 1170px
  min-width 320px
  height: 100%

.welcome_block__heading
  margin: 0
  font-size: 50px
  font-weight: bold
  font-family: secondFont
  margin-bottom: 20px

.welcome_block__paragraph
  max-width 530px
  margin: 0
  margin-bottom: 18px
  font-family: secondFont
  font-size: 14px

.welcome_block__paragraph:nth-child(4)
  margin-bottom: 0

.welcome_block__signup-form
  position: absolute
  display: flex
  flex-flow: column nowrap
  align-items center
  right 70px
  bottom: 70px
  width: 430px
  height 530px
  padding: 30px 30px 20px
  border 1px solid #dbdada
  z-index 4
  background-color: backgroundColor

.welcome_block__form-heading
  margin: 0
  margin-bottom: 20px
  font-family: secondFont
  font-weight: bold
  font-size: 30px

.welcome_block__form-input
  width: 100%
  padding: 16px 13px
  margin-bottom: 18px
  outline none
  font-size: 19px
  font-family: secondFont
  font-weight: lighter
  border 1px solid #bebebe
  border-radius 5px

.welcome_block__form-input:focus
  border 1px solid borderColor


.welcome_block__form-submit-btn
  width: 100%
  height: 55px
  line-height: 55px
  display: block
  margin-top: 20px
  margin-bottom: 20px
  outline none
  font-size: 22px
  font-family: secondFont
  font-weight: bold
  background-color: borderColor
  border-radius 5px
  border none
  text-align: center
  color backgroundColor

.welcom_block__form-notify
  width: 100%
  font-size: 15px
  font-family: secondFont
  font-weight: lighter
  text-align: center


.details
  width: 100%
  background-color: backgroundColor

.details__container
  position: relative
  justify-content space-between
  padding: 70px 70px 50px
  margin: 0 auto
  width 1170px
  min-width 320px
  height: 100%

.details__list
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items flex-end
  width 100%
  list-style: none
  padding: 0
  margin: 0

.details__item
  width: 30%
  text-align: center

.details__heading
  margin: 0
  font-size: 35px
  line-height:1.2;
  font-family: secondFont
  font-weight: bold



.details__pic
  margin-bottom: 30px

.details__description
  font-size: 14px
  font-family: secondFont;
  font-weight: lighter
  margin: 0
  min-height 64px
  margin-top: 18px


.schedule
  width: 100%
  background-color: backgroundColor

.schedule__container
  position: relative
  padding: 50px 70px 65px
  margin: 0 auto
  width 1170px
  min-width 320px
  height: 100%

.schedule__table
  width: 100%
  border none
  border-radius 15px
  border-collapse: collapse
  margin-bottom: 38px
  overflow: hidden;


.schedule__table thead
  background-color: secondColor
  color: backgroundColor
  font-size: 30px
  font-family: secondFont
  font-weight: bold

.schedule__table thead td
  padding: 23px 0
  padding-left: 45px
  text-align: center
  line-height: 1
  
.schedule__table thead td:nth-child(2)
  text-align: left
  padding-left: 115px

.schedule__table tbody
  color: backgroundColor
  font-family: secondFont
  font-size: 22px


.schedule__table tbody tr:nth-child(odd)
  background-color: mainColor

.schedule__table tbody tr:nth-child(even)
  background-color: tableColor

.schedule__table tbody tr td
  padding: 18px 0
  padding-left: 30px
  text-align: center
  line-height: 1

.schedule__table tbody tr td:nth-child(2)
  text-align: left
  padding-left: 115px


.schedule__more-btn
  display: inline-block
  width: 35px
  height: 35px
  background-image: url("..//img/more_icon.png")
  background-repeat: no-repeat
  -webkit-background-size: 100%
  background-size: 100%

.schedule__table tbody tr td:nth-child(3)
  text-align: right
  padding-right: 50px

.schedule__notify
  display: block
  width: 830px
  margin: 0 auto
  font-family: secondFont
  font-weight: lighter
  font-size: 14px
  text-align: center

.elite_block
  position: relative
  width: 100%
  min-height 700px
  padding-top: 100px
  padding-bottom: 170px
  overflow hidden


.elite_block__top-corner
  width: 200%
  height 300px
  position: absolute
  left: -50px
  bottom 580px
  transform-origin: left center;
  transform rotate(-5deg)
  background-color: backgroundColor
  z-index 3


.elite_block__container
  position: relative
  display: flex
  flex-flow: column nowrap
  align-items flex-end
  justify-content: flex-start
  padding: 170px 70px 0
  margin: 0 auto

  width 1170px
  min-width 320px
  height: 100%

.elite_block__logo
  position: absolute
  left:70px
  top -75px
  z-index 4

.elite_block__heading
  font-family: secondFont
  font-size: 50px
  font-weight: bold
  color: backgroundColor
  margin: 0
  padding: 0
  margin-bottom: 25px

.elite_block__paragraph
  margin: 0
  margin-bottom: 18px
  line-height: 1.2
  max-width 665px
  text-align: right
  color: backgroundColor
  font-family: secondFont
  font-size: 14px
  font-weight: lighter

.elite_block__swag-btn
  width: 200px
  height: 55px
  margin-top: -10px
  border: none
  border-radius 14px
  background-color: borderColor
  color: backgroundColor
  font-family: secondFont
  font-size: 18 px
  text-align: center
  cursor: pointer

.elite_block__bottom-corner
  width: 200%
  height 300px
  position: absolute
  left: 0px
  top 100%
  transform-origin: left center;
  transform rotate(-5deg)
  background-color: backgroundColor
  z-index 3

.speakers_block
  width: 100%
  background-color: backgroundColor
  height:1480px

.speakers_block__container
  position: relative

  padding: 140px 100px 0
  margin: 0 auto
  width 1170px
  min-width 320px
  height: 100%

.speakers_block__heading
  margin: 0
  margin-bottom: 25px
  font-family: secondFont
  font-size: 50px
  font-weight: bold

.speakers_block__paragraph
  max-width 600px
  margin: 0
  margin-bottom: 60px
  font-family: secondFont
  font-size: 14px
  font-weight: lighter

.speakers_block__list
  display: flex
  flex-flow row wrap
  justify-content space-between
  align-content space-between
  width: 100%
  min-height 970px
  margin: 0
  padding: 0
  list-style none

.speakers_block__item
  width: 300px
  height: 300px
  border-radius 13px
  background-color: borderColor
  &:nth-child(2)
    padding: 30px 33px 20px
  &:nth-child(5)
    background-color: transparent
    background-image: url("..//img/speakers_icon.png")
    background-position: center center
    background-repeat: no-repeat

.speakers_block__speaker_name
  position: relative
  margin: 0
  margin-bottom: 30px
  font-family: secondFont
  font-size: 45px
  font-weight: bolder
  line-height: 1
  color: backgroundColor
  &:after
    content ''
    position: absolute
    left 0px
    bottom -13px
    width: 83px
    height: 6px
    background-color: backgroundColor

.speakers_block__speaker_description
  font-family: secondFont
  font-size: 18px
  color: backgroundColor

.speakers_block__speaker_contact
  display: flex
  flex-flow: row wrap
  justify-content space-between
  align-content space-around
  width: 150px
  height: 35px
  margin-top: 50px


.speakers_block__speaker_contact_link
  display: inline-block
  width 35px
  height 100%
  background-image: url("..//img/social_icons.png")

.speakers_block__speaker_contact_link_facebook
  background-position: -5px 100px
