@import "/partials/normalize";
@import "/partials/default";
@import "/partials/header";
@import "/partials/others";
@import "/partials/main_page/slider";
@import "/partials/main_page/about";
@import "/partials/main_page/products";
@import "/partials/main_page/services";
@import "/partials/main_page/actions";
@import "/partials/main_page/call_form";
@import "/partials/footer";
