


.actions_list.one_page
  padding: 40px 0 10px;
  background-color: #ecedee;
  border-bottom 6px solid mainColor
  & .actions_item_wrap
    padding: 10px;
    overflow: hidden;
    border-bottom: 4px solid #e0e1e2;
    background-color: backgroundColor
    margin-bottom: 30px;


.actions_info
  padding: 0 10px;
  min-height: 78px;

.actions_heading
  position: relative
  margin: 60px auto 68px;
  width: 100%;
  font-weight: bold;
  color: #363636;
  text-align: center;
  text-transform: uppercase;
  &:after
    content ''
    position: absolute
    left: 50%
    margin-left: -40px
    top: calc(100%+30px)
    height: 2px;
    background-color: mainColor;
    width: 80px;






.actions_item_wrap
  padding: 0;
  overflow: hidden;
  background-color: backgroundColor
  margin-bottom: 30px;

.actions_link
  display: block
  width: 100%

.actions_link img
  display: block
  max-width 100%
  margin: 0 auto
  margin-bottom: 18px;

.actions_article_title
  font-size: 16px;
  font-weight: bold;
  color: #363636;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  &:hover
    color: #363636
    border-bottom: 1px solid mainColor;
    text-decoration: none


.actions_article_date-end
  font-size: 14px;
  font-weight: 100;
  color: #7a7a7a;
  margin-top: 12px;
  margin-bottom: 4px;

@media (max-width: 767px)
  .actions_header
    text-align: center
.actions_item_sub
  border-bottom: 1px solid #ecedee;
  padding: 0 20px;
  text-align: center;
  min-height: 44px;



.actions_item_sub div
  min-height 44px

.actions_item_price
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  color: mainColor;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 0;

