.call_block
  padding-bottom: 40px;
  background: mainColor
  text-align: center;
.call_heading
  text-transform: uppercase;
  color: backgroundColor;
  font-size: 28px;
  font-weight: bold;
  margin: 33px 0;

.call_input
  color: #7a7a7a;
  padding: 3px 20px;
  width: 100%;
  margin-bottom: 16px
  height: 50px;
  float: left;
  font-size: 16px;
  font-family: mainFont
  border: none;
  outline none

.call_submit
  width: 100%;
  display: block
  min-width: 115px
  max-width 160px
  height: 50px
  border: 3px solid backgroundColor
  border-radius: 0
  color: backgroundColor
  background-color: mainColor
  font-size: 14px
  font-weight: bold
  font-family: mainFont
  text-transform: uppercase
  padding: .6em 1em .4em;
  margin: 0 auto
  margin-bottom: 16px

.call_privacy
  color: #fff;
  margin-bottom: 20px;
  text-align: left
  & a
    color: backgroundColor
    text-decoration: underline
  & a:hover
    text-decoration: none

@media (max-width: 767px)
  .call_privacy
    text-align: center