.products_block
  background-color: #ecedee;

.products_block.one-page
  background-color: backgroundColor

.products_heading
  position: relative
  margin: 60px auto 30px;
  width: 100%;
  font-weight: bold;
  color: #363636;
  text-align: center;
  text-transform: uppercase;
  &:after
    content ''
    position: absolute
    left: 50%
    margin-left: -40px
    top: calc(100%+30px)
    height: 2px;
    background-color: mainColor;
    width: 80px;





.products_list
  padding-top: 38px
.products_item
  width: 100%

.products_list.one-page
  background-color: #ecedee
  margin-top: 38px

.products_list.accessoires.one-page
  background-color: #ecedee
  margin-top: 38px

.products_link
  display: block
  width: 100%

.products_link img
  display: block
  max-width 100%
  margin: 0 auto
  margin-bottom: 18px;

.products_item
  max-width 370px
  background-color: backgroundColor
  padding: 10px 10px 20px 10px;
  text-align: center;
  border-bottom: 4px solid #e0e1e2;
  margin-bottom: 25px;
  margin-right: auto
  margin-left: auto
  overflow: hidden;

.products_item_sub
  border-bottom: 1px solid #ecedee;
  padding: 0 20px;
  text-align: center;
  min-height: 44px;

.products_item_sub a
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid #ecedee;
  color: #363636;
  padding: 0;

.products_item_sub a:hover
  color: mainColor

.products_item_sub div
  min-height 44px

.products_item_price
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  color: mainColor;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 0;

.products_item_button
  margin: 20px 0 0;
  text-align: center;
  display: inline-block;
  padding: 12px 20px;
  background: mainColor
  color: backgroundColor
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  border 2px solid mainColor
  transition all 0.3s
  &:hover
    color: mainColor
    background-color: backgroundColor
    text-decoration: none
  &:focus
    color: mainColor
    background-color: backgroundColor
    text-decoration: none
    outline none

@media (min-width:768px) and (max-width:991px)
  .products_item_button
    font-size: 12px

.accessoires .products_item_button
  font-size: 14px


.accessoires .products_item
  max-width 300px