<section class="main_page_about">

    <!--Блок информации о заводе-->
    <div class="container">
        <div class="row">
            <div class="col-sm-5 left_block_about">
                <h2>Компания <br>«Realhouse»</h2>
                <h3>Производим окна более 10 лет!</h3>
            </div>
            <div class="col-sm-7 right_block_about">
                <h3>О компании</h3>
                <p>«Фаворит» - торгово-промышленная компания, с 2006 года занимающая существенный сегмент рынка пластиковых окон в Удмуртии.</p>
                <p>На заводе используются самое современное европейское оборудование, обладающее большой производственной мощностью. За годы работы компания не только завоевала доверие тысяч клиентов в Удмуртской Республике, но и вышла на рынки других регионов Поволжья и Урала.</p>
            </div>
        </div>
    </div><!--Конец блока информации о заводе-->

    <!--Блок преимуществ компании-->
    <div class="main_page_advantage">
        <div class="container">
            <div class="col-sm-12">
                <div class="main_page_advantage_list">
                    <div class="main_page_advantage_item">
                        <div class="main_page_advantage_img">
                            <img src="..//img/adv-3.svg" alt="Минимальные сроки изготовления" style="width: 72px;">
                        </div>
                        <p>На рынке<br> более 10 лет</p>
                    </div>
                    <div class="main_page_advantage_item">
                        <div class="main_page_advantage_img">
                            <img src="..//img/adv-3.svg" alt="Минимальные сроки изготовления" style="width: 72px;">
                        </div>
                        <p>Автоматизированное производство</p>
                    </div>
                    <div class="main_page_advantage_item">
                        <div class="main_page_advantage_img">
                            <img src="..//img/adv-3.svg" alt="Минимальные сроки изготовления" style="width: 72px;">
                        </div>
                        <p>Минимальные сроки изготовления</p>
                    </div>
                    <div class="main_page_advantage_item">
                        <div class="main_page_advantage_img">
                            <img src="..//img/adv-3.svg" alt="Минимальные сроки изготовления" style="width: 72px;">
                        </div>
                        <p>Собственные<br> монтажные бригады</p>
                    </div>
                    <div class="main_page_advantage_item">
                        <div class="main_page_advantage_img">
                            <img src="..//img/adv-3.svg" alt="Минимальные сроки изготовления" style="width: 72px;">
                        </div>
                        <p>Филиалы в 16 городах Урала и Поволжья</p>
                    </div>
                </div>

            </div>
        </div>
    </div><!--Конец блока преимуществ компании-->

    <!--Блок слайдер логотипов-->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
              <div class="slider">
                  <div>
                      <img class="brands_company_img" src="http://udm-okna.ru/wp-content/uploads/2016/07/logo1-2.png" alt="1" title="1">
                  </div>
                  <div>
                      <img class="brands_company_img" src="http://udm-okna.ru/wp-content/uploads/2016/07/logo5-2.png" alt="1" title="1">
                  </div>
                  <div>
                      <img class="brands_company_img" src="http://udm-okna.ru/wp-content/uploads/2016/07/logo1-2.png" alt="1" title="1">
                  </div>
                  <div>
                      <img class="brands_company_img" src="http://udm-okna.ru/wp-content/uploads/2016/07/logo5-2.png" alt="1" title="1">
                  </div>
                  <div>
                      <img class="brands_company_img" src="http://udm-okna.ru/wp-content/uploads/2016/07/logo1-2.png" alt="1" title="1">
                  </div>

              </div>
            </div>
        </div>

    </div><!--Конец блока слайдера логотипов-->
</section>