<section class="call_section">
    <div class="call_block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="call_heading">Бесплатный вызов замерщика:</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="call_response"></div>
                    <div class="call_error"></div>
                    <form action="#" method="post" class="call_form" novalidate="novalidate">

                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input type="text" name="name" value="" size="40" class="call_input" placeholder="Ваше имя...">
                            </div>
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <input type="text" name="phone" value="" size="40" class="call_input" placeholder="+7 (____)">
                            </div>
                            <div class="col-md-2 col-md-offset-0 col-sm-12 col-xs-12">
                                <input type="submit" value="Отправить" class="call_submit">
                            </div>
                            <div class="col-xs-12">
                                <p class="call_privacy">Оставляя свои персональные данные, Вы соглашаетесь с <a href="http://udm-okna.ru/politika-konfidentsialnosti/">Политикой конфиденциальности.</a></p>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>